body {
  box-sizing: border-box;
  background-color: #e5e5e5;
  padding-top: 30px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.loader {
  width: 80px;
  margin: 0 auto;
}

.link {
  text-decoration: none;
  color: #000;
}

.user-list {
  margin-bottom: 35px;
}

.MuiPagination-root {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

/* .MuiPagination-root
.MuiPagination-ul */
